body {
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: 'Inter', 
                system-ui,
                -apple-system, /* Firefox supports this but not yet `system-ui` */
                'Segoe UI',
                Roboto,
                Helvetica,
                Arial,
                sans-serif,
                'Apple Color Emoji',
                'Segoe UI Emoji'
}
